.wrap {
  padding: var(--gap);
}

.title {
  padding-bottom: calc(var(--gap) * 2);
  font-size: 2.4em;
  text-align: center;
}

.category + .category {
  margin-top: var(--gap);
}

.category__name {
  padding-bottom: var(--gap);
  font-size: 1.6em;
  font-weight: bold;
}

.category__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap);
}

@media screen and (min-width: 576px) {
  .category__list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .category__list {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .category__list {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .category__list {
    grid-template-columns: repeat(10, 1fr);
  }
}

@media screen and (min-width: 1400px) {
  .category__list {
    grid-template-columns: repeat(12, 1fr);
  }
}

@media screen and (min-width: 1800px) {
  .category__list {
    grid-template-columns: repeat(14, 1fr);
  }
}

.bookmark {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-column: span 2;
  padding: var(--gap);
  overflow: hidden;
  background-color: var(--color-foreground);
  border-radius: var(--radius);
  transition: all 0.1s;
  cursor: pointer;
}

.bookmark:hover {
  background-color: var(--color-foreground-focus);
}

.bookmark__name {
  font-size: 1.2em;
  font-weight: bold;
}

.bookmark__desc {
  color: var(--color-text-light);
  font-size: 0.9em;
}

.bookmark__link {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
