.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  padding: var(--gap);
  overflow: hidden;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.category {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 80px;
  margin: calc(var(--gap) / 2);
  background-color: var(--color-foreground);
  border-radius: var(--radius);
  transition: all 0.1s;
  cursor: pointer;
}

.category:hover {
  background-color: var(--color-foreground-focus);
}

.category__name {
  font-size: 1.4em;
}
